<div class="w-full mx-auto bg-white">
    <!-- Header -->
    <app-header></app-header>

    <!-- Job Details Section -->
    <!-- job-detail.component.html -->
<section class="bg-[#f2f2f2] p-8" >
    <div class="bg-white p-8 rounded shadow-md">
      <div class="flex items-center mb-6">
        <div class="ml-4">
          <h1 class="text-2xl font-bold">{{ job.job_title }}</h1>
          <p class="text-lg">{{job.job_id}}</p>
          <div class="flex items-center text-gray-500">
            <i class="fas fa-map-marker-alt"></i>
            <span class="ml-2">{{ job.job_location }}</span>
            <i class="fas fa-money-bill-wave ml-4"></i>
            <span class="ml-2">{{ job.salary_range_min }} - {{ job.salary_range_max }} in LPA</span>
          </div>
        </div>
      </div>
      <h2 class="text-xl font-bold mb-4">Description:</h2>
      <p class="mb-4">{{ job.description }}</p>
      <h2 class="text-xl font-bold mb-4">Responsibilities:</h2>
      <ul class="list-decimal list-inside mb-4">
        <li *ngFor="let responsibility of job.responsibilities.split('\n')">{{ responsibility }}</li>
      </ul>
      <h2 class="text-xl font-bold mb-4">Requirements:</h2>
      <ul class="list-decimal list-inside mb-4">
        <li *ngFor="let skill of job.skills_required">{{ skill }}</li>
      </ul>
      <p class="text-red-500 mb-4">Apply before {{ job.last_date | date:'dd/MM/yyyy' }}</p>
      <button class="bg-[#34485e] text-white px-6 py-2 rounded">APPLY NOW</button>
    </div>
  </section>
  

    <!-- Footer -->
    <app-footer></app-footer>
</div>