<div class="w-full h-screen flex flex-col">
    <!-- Header -->
    <div class="flex justify-between items-center py-4 px-6 bg-[#f5f7fb]">
        <div>
            <img src="../../../../assets/logo.png" alt="Logo" class="h-12">
        </div>
    </div>

    <!-- Main Content -->
    <div class="flex flex-col md:flex-row py-16 px-6 bg-[#f5f7fb] flex-grow">
        <div class="md:w-1/2 flex justify-center mb-8 md:mb-0">
            <img src="../../../../assets/forgot-password.svg" alt="Reset Password Illustration" class="w-3/4 md:w-2/3 rounded-lg shadow-lg">
        </div>
        <div class="bg-white shadow-md rounded-lg p-8 md:w-1/3 mx-auto">
            <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">Reset Password</h2>
            <form [formGroup]="userForm" (submit)="submitForm()"  class="space-y-4">
                <div>
                    <input type="password" name="password" required formControlName="password" id="password" placeholder="Password" class="w-full p-3 border rounded-md">
                    <div class="text-red-700 h-auto">
                        <div class="error-message" *ngIf="userForm.get('password')?.errors?.['required'] && userForm.get('password')?.touched">
                            Please fill in this field.
                        </div>
                        <div class="error-message" *ngIf="userForm.get('password')?.errors?.['minlength'] && userForm.get('password')?.touched">
                            Password must contain at least 8 characters.
                        </div>
                        <div class="error-message" *ngIf="userForm.get('password')?.errors?.['pattern'] && userForm.get('password')?.touched">
                            Password must meet the required format.
                        </div>
                    </div>
                </div>
                <div>
                    <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" class="w-full p-3 border rounded-md" minlength="8" formControlName="confirmPassword">
                    <span class="text-red-700 h-auto" *ngIf="userForm.get('password')?.valid && userForm.get('confirmPassword')?.dirty && (userForm.get('password')?.value !== userForm.get('confirmPassword')?.value)">
                        Password and Confirm Password must match
                    </span>
                </div>
                <button type="submit" class="w-full bg-blue-700 text-white py-2 px-4 rounded-lg">Reset Password</button>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
</div>

