<div class="flex flex-col min-h-screen justify-between items-center bg-gray-100">
    <div class="mt-6">
        <img src="../../../../assets/logo.png" alt="Logo" class="mx-auto w-32 h-32">
    </div>

    <div class="flex-grow flex flex-col items-center justify-center w-full px-4">
        <div class="bg-white rounded-lg p-8 shadow-lg w-full max-w-md">
            <h2 class="text-center text-2xl font-semibold mb-6 text-indigo-700">Forgot Password?</h2>
            <form class="space-y-6" (submit)="forgotPassword()" [formGroup]="email">
                <div>
                    <input type="text" placeholder="Email" required formControlName="email" name="email" id="email" class="w-full p-3 border rounded-md">
                    <div class="text-red-700 h-auto">
                        <div class="error-message" *ngIf="email.get('email')?.errors?.['required'] && email.get('email')?.touched">
                            Please fill in this field.
                        </div>
                        <div class="error-message" *ngIf="email.get('email')?.errors?.['email'] && email.get('email')?.touched">
                            Please enter a valid email address.
                        </div>
                    </div>
                </div>

                <div *ngIf="otpSent">
                    <input type="text" placeholder="Enter OTP" formControlName="otp" name="otp" id="otp" class="w-full p-3 border rounded-md">
                    <div class="text-red-700 h-auto">
                        <div class="error-message" *ngIf="email.get('otp')?.errors?.['required'] && email.get('otp')?.touched">
                            Please enter the OTP.
                        </div>
                    </div>
                </div>

                <button type="submit" class="w-full bg-indigo-600 text-white font-semibold py-2 rounded-md hover:bg-indigo-500 transition duration-300">
                    {{ otpSent ? 'Verify OTP' : 'Send OTP' }}
                </button>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>