<footer class="bg-teal-200 py-8">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 text-gray-800">
            <div>
                <h4 class="font-bold">For Jobseekers</h4>
                <ul>
                    <li><a href="#" class="hover:underline">Search Jobs</a></li>
                    <li><a href="#" class="hover:underline">Register</a></li>
                    <li><a href="#" class="hover:underline">Job Alerts</a></li>
                    <li><a href="#" class="hover:underline">Career Advice</a></li>
                </ul>
            </div>
            <div>
                <h4 class="font-bold">Popular</h4>
                <ul>
                    <li><a href="#" class="hover:underline">Search Jobs</a></li>
                    <li><a href="#" class="hover:underline">Employers</a></li>
                    <li><a href="#" class="hover:underline">Agencies</a></li>
                </ul>
            </div>
            <div>
                <h4 class="font-bold">Recruiters</h4>
                <ul>
                    <li><a href="#" class="hover:underline">CV Database Access</a></li>
                    <li><a href="#" class="hover:underline">Advertise Jobs</a></li>
                    <li><a href="#" class="hover:underline">Search CVs</a></li>
                    <li><a href="#" class="hover:underline">Test CV Search</a></li>
                </ul>
            </div>
            <div>
                <h4 class="font-bold">About the creation</h4>
                <ul>
                    <li><a href="#" class="hover:underline">About Us</a></li>
                    <li><a href="#" class="hover:underline">Contact Us</a></li>
                    <li><a href="#" class="hover:underline">Help</a></li>
                    <li><a href="#" class="hover:underline">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="flex justify-end items-end">
            <img src="../../../../assets/logo.png" class="  w-12 h-10" alt="Logo">
            <p>Connect.</p>
        </div>
        <div class="flex justify-between items-center mt-8">
            <p>&copy; 2022 | All Rights Reserved.</p>
            <p>Created by Muhammed Nehyan M</p>
        </div>
    </div>
</footer>