<aside class="col-span-1 bg-white p-4 rounded-lg shadow">
    <nav>
        <ul class="space-y-4">
            <li><a href="#" class="block bg-[#4b21c7] p-2 rounded text-center text-white hover:bg-[#5b28e5]">Dashboard</a></li>
            <li><a href="#" [routerLink]="['/admin/user-list']" class="block bg-[#4b21c7] p-2 rounded text-center text-white hover:bg-[#5b28e5]">Users</a></li>
            <li><a href="#" class="block bg-[#4b21c7] p-2 rounded text-center text-white hover:bg-[#5b28e5]">Employers</a></li>
            <li><a href="#" class="block bg-[#4b21c7] p-2 rounded text-center text-white hover:bg-[#5b28e5]">Issues</a></li>
            <li><a href="#" (click)="logout()" class="block bg-[#4b21c7] p-2 rounded text-center text-white hover:bg-[#5b28e5]">Logout</a></li>
        </ul>
    </nav>
</aside>